@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-philosopher: var(--font-philosopher);
  --font-lexend: var(--font-lexend);
}

html,
body {
  background-color: #ffffff !important;
  background: #ffffff !important;
  color: #171717 !important;
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #ffffff !important;
    background: #ffffff !important;
    color: #171717 !important;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e89117;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ba324f;
}
